@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*BODY*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;   
    background-color: #ebebeb;
    margin: 0px;
    width: 100vw;
}

h3{
    font-size: 24px;
}

/*HEADER*/
.main-header{
    background-color: #EAC926;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.main-header-top{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-empresa{
    width: 40%;
    display: flex;
    justify-content: left;  
}

.search{
    background-color: white;
    background-size: contain;
    border-radius: 5px;
    padding: 3px;    
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#666;
    width: 30%;
    
}

.search-bar{
    border: none;
    padding: 0;
    width: 100%;
    
}
::placeholder{
    color: grey;
}

.main-header-top p{
    text-align: center;
    font-size: 12px;
    align-self: center;
}

.main-header-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

/*Para ocultar el navbar usamos display:none*/
.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar ul li a{
    color: black;
    text-decoration: none;
}

.burger-menu{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 5px auto;
    font-size: 15px;
}

.fas.fa-bars{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*MAIN*/
.main-home{
    margin: auto;
    text-align: center;
    width: 100%;
}

.titulares{
    font-size: 18px;
    margin: 15px;
}
.banner-home img{
    width: 100%;    
}

.main-home article{
    width: 90%;
    margin-bottom:10px;
    margin: auto;
    text-align: center;
}

.main-home article img{
    width: 100%;
    border-radius: 5px;
    border: solid 1px rgb(156, 156, 156);
}

/*Aplicar formato al icono puntal mencionado*/

.box-detalle-producto{
    border-top: 1px;
    border: solid #ebebeb;
    padding: 15px;
    text-align: left;
    /*display: flex;
    flex-wrap: wrap;*/
    width: 100%;
    position: relative;
    justify-content: space-between;
}
.box-detalle-producto i{
    color: #39b54a;
    font-size: 12px;
    border-radius: 100%;
    padding: 5px;
    border: solid 1px #39b54a;
    order: 1;
    position: absolute;
    right: 5px;
    top: -15px;
}

.precios-home{
    font-size: 16px;
    width:45%;
    text-align: left;
    align-self: center;
    margin-bottom: 5px;
     
}

.descuentos-home{
    font-size: 14px;
    color: #39b54a;
    width: 45%;
    text-align: left;
    align-self: center;
    margin-bottom: 5px;    
}

.descripciones-home{
    font-size: 14px;
    text-align: left;
    display: none;
}

/*FOOTER*/

.box-footer{
    text-align: center;
    width: 95%;
    margin: 10px auto;
}

.subtitulo-footer{
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.box-footer p{
    font-size: 10px;
}

.footer i{
    font-size: 2em;
    color: #1259c3;
    margin: 10px auto
}

.copy-right{
    margin-top: 10px;
    text-align: left;
    width: 95%;
    margin: 10px auto;
    font-size: 10px;
}

@media (min-width: 361px){
    /* Tablets */

    /*HEADER*/
    .burger-menu{
        display: none;
    }

    .main-header-top{
        flex-wrap: nowrap;
    }
    .logo-empresa{
        width: 25%;
    }
    .search{
        width: 30%;
    }

    .main-header-top p{
        width: 30%;
        font-size: 10px;
    }

    .main-header-bottom{
        display: flex;
        margin: 10px auto;

    }
 
    .main-navbar{
        display:flex;        
        width: 100%;
        justify-content: space-between;
    }

    .main-navbar ul{
        font-size: 16px;
    }
    
    .main-navbar-left{
        font-size: 18px;
        display: flex;       
        width: 40%;
        justify-content: space-around;
    }

    .main-navbar-right{
        font-size: 16px;
        display: flex;        
        width: 50%;
        justify-content: space-around;
    }

    .main-navbar-left li{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar-right li{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar-left li a{ 
        display: flex;
        font-size: 0.5em;
        
    }

    .main-navbar-right li a{
        display: flex;
        font-size: 0.5em;
   
    }

    .main-navbar-right li i{
        align-self: center;
        margin: 0px 5px;
    }

    /*MAIN*/

    .box-article{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .box-article article{
        width: 40%;
        font-size: 10px; 
    }

   .descripciones-home{
    display: block;
    }


}

@media (min-width: 769px){
    /* Desktop */

    /*HEADER*/

    .search{
        margin: 30px;
    }

    .main-navbar ul{
        font-size: 25px;
    }

    .main-navbar a{
        transition: all 200ms ease-in;
    }

    .main-navbar a:hover{
        border-bottom: solid 1px black ;
    }

    .titulares{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 30px;
    }

    /*MAIN*/
    .box-article{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .box-article article{
        width: 23%;
        font-size: 10px;        
    }

    .box-article article img{
        transition: all .5s linear;
    }

    .box-detalle-producto{
        visibility: hidden;  
    }

   .box-article article:hover > .box-detalle-producto{
       visibility: visible;
       box-shadow: 0 0 16px 0px rgba(20, 20, 20, .3);
       border-radius: 5px;
   }

   .box-article article:hover > .box-detalle-producto i{
       transition: all 1s linear;
       transform:rotate(360deg);
   }

    /*FOOTER*/

    .box-footer{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .box-footer i{
        transition: all .5s ease-in-out;
    }
    .box-footer i:hover{
        zoom: 105%;
        }
}
