@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*BODY*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;   
    background-color: #ebebeb;
    margin: 0px;
    width: 100%;
}

h3{
    font-size: 24px;
}

/*HEADER*/
.main-header{
    background-color: #EAC926;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.main-header-top{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-empresa{
    width: 40%;
    display: flex;
    justify-content: left;  
}

.search{
    background-color: white;
    background-size: contain;
    border-radius: 5px;
    padding: 3px;    
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#666;
    width: 30%;
    
}

.search-bar{
    border: none;
    padding: 0;
    width: 100%;
    
}
::placeholder{
    color: grey;
}

.main-header-top p{
    text-align: center;
    font-size: 12px;
    align-self: center;
}

.main-header-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

/*Para ocultar el navbar usamos display:none*/
.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar ul li a{
    color: black;
    text-decoration: none;
}

.burger-menu{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 5px auto;
    font-size: 15px;
}

.fas.fa-bars{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*MAIN*/
.loginForm{
    width: 90%;
    background-color: #ebebeb;
    margin: 50px auto 200px auto;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.login-form-element{
    width: 100%;
    margin: auto;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 10px;
    border: none;
}

.login-form-element input{
    display: block;
    background-color: #ebebeb;
    width: 100%;
    border: none;
    margin: 10px auto;
    border-bottom: solid 1px grey;
    font-size: 10px;
}

.boton-ingresar{
    width: 100%;
    background-color: #1259c3;
    text-align: center;
    color: white;
    border: solid 1px  #ebebeb;
    border-radius: 5px;
}

/*FOOTER*/

.box-footer{
    text-align: center;
    width: 95%;
    margin: 10px auto;
}

.subtitulo-footer{
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.box-footer p{
    font-size: 10px;
}

.footer i{
    font-size: 2em;
    color: #1259c3;
    margin: 10px auto
}

.copy-right{
    margin-top: 10px;
    text-align: left;
    width: 95%;
    margin: 10px auto;
    font-size: 10px;
}

@media (min-width: 361px){
    /* Tablets */

    /*HEADER**********************************/
    .burger-menu{
        display: none;
    }

    .main-header-top{
        flex-wrap: nowrap;
    }
    .logo-empresa{
        width: 25%;
    }
    .search{
        width: 30%;
    }

    .main-header-top p{
        width: 30%;
        font-size: 10px;
    }

    .main-header-bottom{
        display: flex;
        margin: 10px auto;

    }
 
    .main-navbar{
        display:flex;        
        width: 100%;
        justify-content: space-between;
    }

    .main-navbar ul{
        font-size: 16px;
    }
    
    .main-navbar-left{
        font-size: 18px;
        display: flex;       
        width: 40%;
        justify-content: space-around;
    }

    .main-navbar-right{
        font-size: 16px;
        display: flex;        
        width: 50%;
        justify-content: space-around;
    }

    .main-navbar-left li{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar-right li{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar-left li a{ 
        display: flex;
        font-size: 0.5em;
        
    }

    .main-navbar-right li a{
        display: flex;
        font-size: 0.5em;
   
    }

    .main-navbar-right li i{
        align-self: center;
        margin: 0px 5px;
    }

    /*MAIN************************************/
    .loginForm{
        max-width: 300px;
    }

}
@media (min-width: 769px){

    /*HEADER***********************************/
    .search{
        margin: 30px;
    }

    .main-navbar ul{
        font-size: 25px;
    }

    .main-navbar a{
        transition: all 200ms ease-in;
    }

    .main-navbar a:hover{
        border-bottom: solid 1px black ;
    }

    /*MAIN*/
    .boton-ingresar:hover{
        background-color: #0022AA;
    }
    

    /*FOOTER*/
    .box-footer{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .box-footer i{
        transition: all .5s ease-in-out;
    }
    .box-footer i:hover{
        zoom: 105%;
        }
}
   





























































































